*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: url(./Joss/imagenes/af610b8c233b67be118b5f78e1164778.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Joan', serif;
    height: 100vh;
}
nav{
    background-color: rgba(119,136,153,0.212);
    width: 100%;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.lista a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 50px;
}
.menu .lista{
    display: inline-block;
}
.lista-r{
    float: right;
}
.lista a:hover{
    background-color: tomato;
}
main{
    text-align: center;
}
.container{
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
label{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: white;

}
